Test Layout/xlights_keybindings.xml
Test Layout/xlights_networks.xml
Test Layout/xlights_rgbeffects
Test Layout/xlights_rgbeffects - Copy.xml
Test Layout/xlights_rgbeffects.bkp
Test Layout/xlights_rgbeffects.xml
Test Layout/xLightsCompanion.xml
Test Layout/Backup/2022-09-09-103548_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-09-103548_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-09-103548_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-09-110734_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-09-110734_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-09-110734_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-10-010634_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-10-010634_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-10-010634_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-10-010634_OnStart/xLightsCompanion.xml
Test Layout/Backup/2022-09-19-221819_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-19-221819_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-19-221819_OnStart/xlights_rgbeffects - Copy.xml
Test Layout/Backup/2022-09-19-221819_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-19-221819_OnStart/xLightsCompanion.xml
Test Layout/Backup/2022-09-20-160951_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-20-160951_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-20-160951_OnStart/xlights_rgbeffects - Copy.xml
Test Layout/Backup/2022-09-20-160951_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-20-160951_OnStart/xLightsCompanion.xml
Test Layout/Backup/2022-09-20-161916_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-20-161916_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-20-161916_OnStart/xlights_rgbeffects - Copy.xml
Test Layout/Backup/2022-09-20-161916_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-20-161916_OnStart/xLightsCompanion.xml
Test Layout/xScheduleData/GetModels.dat
Backups/xLights/2022_09_20_15_36/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_15_38/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_15_51/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_15_56/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_16_02/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_16_03/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_16_08/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_16_11/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_16_13/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_16_18/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_15_36/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_15_38/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_15_51/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_15_56/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_16_02/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_16_03/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_16_08/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_16_11/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_16_13/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_16_18/xLightsCompanion.xLightsCompanion.bkp
xLightsCompanion.xml
xLights-Functions.ps1
Test Layout/__.xbkp
Test Layout/xlights_rgbeffects.xbkp
Test Layout/Backup/2022-09-20-213508_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-20-213508_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-20-213508_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-20-230058_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-20-230058_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-20-230058_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-20-230330_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-20-230330_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-20-230330_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-20-230441_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-20-230441_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-20-230441_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-20-231049_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-20-231049_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-20-231049_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-20-231101_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-20-231101_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-20-231101_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-20-232052_OnStart/__.xbkp
Test Layout/Backup/2022-09-20-232052_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-20-232052_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-20-232052_OnStart/xlights_rgbeffects.xbkp
Test Layout/Backup/2022-09-20-232052_OnStart/xlights_rgbeffects.xml
.gitignore
Backups/xLights/2022_09_20_22_24/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_22_58/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_23_04/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_23_19/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_23_24/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_23_29/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_23_36/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_23_37/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_23_40/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_23_52/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_22_24/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_22_58/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_23_04/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_23_19/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_23_24/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_23_29/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_23_36/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_23_37/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_23_40/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_23_52/xLightsCompanion.xLightsCompanion.bkp
xLights-Functions - With Commented Code.ps1
