xLightsCompanion.xml
Backups/xLights/2022_09_20_15_36/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_15_38/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_15_51/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_15_56/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_16_02/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_16_03/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_16_08/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_16_11/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_16_13/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLights/2022_09_20_16_18/xlights_rgbeffects.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_15_36/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_15_38/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_15_51/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_15_56/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_16_02/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_16_03/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_16_08/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_16_11/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_16_13/xLightsCompanion.xLightsCompanion.bkp
Backups/xLightsCompanion/2022_09_20_16_18/xLightsCompanion.xLightsCompanion.bkp
Test Layout/xlights_keybindings.xml
Test Layout/xlights_networks.xml
Test Layout/xlights_rgbeffects
Test Layout/xlights_rgbeffects - Copy.xml
Test Layout/xlights_rgbeffects.bkp
Test Layout/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-09-103548_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-09-103548_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-09-103548_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-09-110734_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-09-110734_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-09-110734_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-10-010634_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-10-010634_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-10-010634_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-19-221819_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-19-221819_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-19-221819_OnStart/xlights_rgbeffects - Copy.xml
Test Layout/Backup/2022-09-19-221819_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-20-160951_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-20-160951_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-20-160951_OnStart/xlights_rgbeffects - Copy.xml
Test Layout/Backup/2022-09-20-160951_OnStart/xlights_rgbeffects.xml
Test Layout/Backup/2022-09-20-161916_OnStart/xlights_keybindings.xml
Test Layout/Backup/2022-09-20-161916_OnStart/xlights_networks.xml
Test Layout/Backup/2022-09-20-161916_OnStart/xlights_rgbeffects - Copy.xml
Test Layout/Backup/2022-09-20-161916_OnStart/xlights_rgbeffects.xml
Test Layout/xScheduleData/GetModels.dat
